@import './../../../variables';

$navbar-height: 80px;

.nav {
    width: 100%;
    height: $navbar-height;
    background-color: $black;
    border-bottom: 1px solid $light-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__header {
    color: $light-gray;
}

.nav__link {
    font-size: 1rem;
    font-weight: 550;
    color: $dark-gray;
    border: none;
    background-color: inherit;
    padding: 0.6rem;
    min-width: 60px;
    margin: 20px;
    transition: color 0.3s ease;

    &:hover {
        color: $white;
        cursor: pointer;
    }

    &-active {
        color: $white !important;
    }
}

.nav__logo {
    height: $navbar-height - 5px;
    width: auto;
    margin: 0 10px;
}

.nav__menu-toggle {
    position: absolute;
    top: $navbar-height - 50px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.nav__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: $light-black;
    z-index: 10;
}

@media (max-width: 820px) {
    .nav__menu-toggle {
        display: flex !important;
    }

    .nav__links-wrapper {
        display: none !important;
    }
}

@media (min-width: 821px) {
    .nav__menu {
        display: none !important;
    }
}
